/* Add your custom styles to this CSS file */

/* Contact Info Section */
.custom-home .contact-info {
  display: flex;
  justify-content: space-around;
  background-color: var(--color-gray-100);
  padding: 20px;
  color: var(--color-white);
}

.contact-info .email-section,
.contact-info .phone-section {
  text-align: center;
}

.contact-info .email-container,
.contact-info .phone-container {
  margin-bottom: 10px;
}

.contact-info .email-label,
.contact-info .phone-label {
  font-size: 18px;
}

.contact-info .email-address,
.contact-info .phone-number {
  font-size: 20px;
  font-weight: bold;
}

/* Educational Background Section */
.custom-home .educational-background {
  background-color: var(--color-gray-200);
  padding: 20px;
  color: var(--color-white);
  text-align: center;
}

.educational-background .study-info {
  margin-bottom: 20px;
}

.educational-background .study-description {
  font-size: 18px;
  line-height: 1.5;
}

.educational-background .university-info .university-name {
  font-size: 20px;
  font-weight: bold;
}

.educational-background .edu-history-label {
  font-size: 24px;
  font-weight: bold;
}

/* Tools and Skills Section */
.custom-home .tools-and-skills-section {
  text-align: center;
  margin: 20px 0;
}

.tools-and-skills-section .tools-and-skills-img {
  width: 150px;
}

.tools-and-skills-section .tools-and-skills-label {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

/* Intro Section */
.custom-home .intro-section {
  display: flex;
  justify-content: space-around;
  background-color: var(--color-gray-100);
  padding: 20px;
  color: var(--color-white);
  text-align: center;
}

.intro-section .intro-content {
  flex: 1;
  text-align: left;
  padding-right: 20px;
}

.intro-section .job-title,
.intro-section .full-name {
  font-size: var(--font-size-21xl);
  font-weight: bold;
}

.intro-section .intro-description {
  font-size: 18px;
  line-height: 1.5;
}

.intro-section .social-media-section {
  display: flex;
  align-items: center;
}

.social-media-section img {
  margin: 0 10px;
  width: 30px;
}

.social-media-section .find-me-label {
  flex: 1;
  text-align: left;
}

.find-me-label .find-me-divider {
  height: 2px;
  background-color: var(--color-white);
  margin-bottom: 10px;
}

.find-me-label .find-me-title {
  font-size: 18px;
  font-weight: bold;
}

/* Navigation Panel */
.custom-home .navigation-panel {
  text-align: center;
  background-color: var(--color-darkslategray);
  color: var(--color-white);
  padding: 20px 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation-panel div {
  margin: 10px 0;
  cursor: pointer;
  transition: color 0.3s;
}

.navigation-panel div:hover {
  color: var(--color-teal-100);
}
