.btn-primary{
  background-color: var(--color-teal-100);
}
.button-register-child,
.form-register-child {
  position: absolute;
  top: 50px;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-100);
  width: 1000px;
  height: 730px;
}
.button-register-child {
  top: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-teal-100);
  width: 153px;
  height: 56px;
}
.register1 {
  position: absolute;
  top: 14px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 113.8px;
}
.button-register {
  position: absolute;
  top: 670px;
  left: 424px;
  width: 153px;
  height: 56px;
  text-align: center;
  font-size: var(--font-size-11xl);
}
.username-child,
.username1 {
  position: absolute;
  top: 0;
  height: 70px;
}
.username-child {
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-200);
  width: 802px;
}
.username1 {
  left: 37px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 200px;
}
.confirm-password,
.email,
.password,
.register-child,
.username {
  position: absolute;
  top: 170px;
  left: 99px;
  width: 802px;
  height: 70px;
}
.confirm-password,
.email,
.password,
.register-child {
  top: 290px;
}
.confirm-password,
.password,
.register-child {
  top: 410px;
}
.confirm-password,
.register-child {
  top: 530px;
}
.register-child {
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-200);
  width: 400px;
  height: 100px;
}
.register3 {
  position: absolute;
  top: 2px;
  left: 111px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 177px;
  height: 96px;
}
.register2 {
  position: absolute;
  top: 0;
  left: 300px;
  width: 400px;
  height: 100px;
  text-align: center;
  font-size: var(--font-size-21xl);
}
.form-register {
  position: absolute;
  top: 122px;
  left: 220px;
  width: 1000px;
  height: 780px;
}
.harits {
  position: absolute;
  margin: 0 !important;
  top: 33px;
  left: 92px;
  font-size: var(--font-size-15xl);
  line-height: 31px;
  z-index: 0;
}
.register4 {
  margin: 0 !important;
  left: 1072px;
  font-weight: 500;
  justify-content: center;
  width: 177px;
  height: 96px;
  flex-shrink: 0;
  z-index: 1;
}
.dashboard,
.login,
.register4 {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
}
.login {
  margin: 0 !important;
  left: 1263px;
  justify-content: center;
  width: 177px;
  height: 96px;
  flex-shrink: 0;
  z-index: 2;
}
.dashboard {
  left: 0;
  background-color: var(--color-darkslategray);
  width: 1440px;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  font-size: var(--font-size-7xl);
}
.register {
  position: relative;
  background-color: var(--color-gray-200);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-league-spartan);
}
